body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

.banner {
    position: relative;
    background-image: url("fondo.jpg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center top;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
}

nav h2 {
    color: #f0a500;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
}

.menu {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    gap: 8px;
}

.contenido-banner {
    min-height: 27vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 120px;
}

.boton {
    background-color: #f0a500;
    color: black;
    padding: 30px 100px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

section {
    padding: 60px;
    text-align: center;
}

section h2 {
    font-size: 42px;
    color: #f0a500;
}

.contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.producto {
    background-color: #222;
    border: 2px solid #f0a500;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
}

.producto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.producto h3 {
    color: #f0a500;
}

.producto button,
.boton-producto {
    background-color: #f0a500;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.ubicacion {
    background-color: #161616;
}

.ubicacion h2 {
    border-bottom: 3px solid #d4145a;
    display: inline-block;
}

.contenedor-ubicacion {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.horarios,
.direccion {
    text-align: left;
    width: 260px;
}

.horarios strong,
.direccion strong {
    color: #f0a500;
}

.mapa {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

#contacto {
    background-color: #111;
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}

.header-productos {
    position: relative;
    background: linear-gradient(
        to bottom,
        #810202fd,
        #be4107
    );
}

.titulo-productos {
    text-align: center;
    padding: 130px 20px 70px;
}

.titulo-productos h1 {
    font-size: 55px;
    color: #f1ecdb;
}

.filtros {
    background-color: #191919;
    padding: 30px;
}

.filtros a {
    background-color: #f0a500;
    color: black;
    text-decoration: none;
    padding: 14px 25px;
    border-radius: 8px;
    margin: 10px;
    font-weight: bold;
    display: inline-block;
}

.filtros button {
    font-size: 24px;
    padding: 15px 25px;
    font-weight: bold;
}

nav button {
    font-size: 16px !important;
}

nav button:hover {
    color: #f0a500;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: #222;
    border: 2px solid #f0a500;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.modal-delivery {
    position: relative;
    background-color: #252530;
    color: white;
    width: 90%;
    max-width: 950px;
    min-height: 420px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    border: 2px solid #f0a500;
}

.delivery-texto {
    width: 50%;
}

.delivery-texto h2 {
    font-size: 48px;
    color: #f0a500;
}

.delivery-imagen {
    width: 50%;
    text-align: center;
}

.delivery-imagen img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
    color: #f0a500;
}

.modal-contenido button,
.modal-delivery button {
    background-color: #f0a500;
    color: black;
    border: none;
    padding: 13px 20px;
    border-radius: 25px;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
}

.auto-delivery {
    font-size: 60px;
    margin: 20px;
}

.datos-delivery {
    display: none;
    position: absolute;
    bottom: 25px;
    left: 40px;
    right: 40px;
    background-color: #1c1c24;
    padding: 20px;
    border-radius: 15px;
}

.datos-delivery input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

#comidas {
    background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("fondo-comidas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
}

#despensa {
    background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("fondo-despensa.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
}

#bebidas {
    background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("fondo-bebidas.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
}

.btn-eliminar {
    background-color: #ff3b3b;
    color: white;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

@media (max-width: 768px) {

    .header-productos .inicio-banner {
        font-size: 18px !important;
        right: 25px;
        top: 25px;
    }

    .header-productos .titulo-productos h1 {
        font-size: 38px !important;
    }

    .header-productos .titulo-productos p {
        font-size: 16px !important;
    }

    .header-productos nav h2 {
        font-size: 18px !important;
    }
}

.header-productos {
    position: relative;
}

.header-productos .titulo-productos {
    text-align: center;
    padding: 70px 20px;
}

.header-productos .inicio-banner {
    position: absolute;
    top: 35px;
    right: 50px;
    color: white;
    text-decoration: none;
    font-size: 28px;
    font-weight: bold;
}