body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
}

.banner {
    background-image: url("fondo.jpg");
    background-size: 95%;
    background-repeat: no-repeat;
    background-position: center top;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 45px;
}

nav h2 {
    color: #f0a500;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 28px;
    margin-left: 15px;
}

.contenido-banner {
    min-height: 27vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 120px;
}

.boton {
    background-color: #f0a500;
    color: black;
    padding: 30px 100px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
}

section {
    padding: 60px;
    text-align: center;
}

section h2 {
    font-size: 42px;
    color: #f0a500;
}

.contenedor-productos {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.producto {
    background-color: #222;
    border: 2px solid #f0a500;
    width: 250px;
    padding: 20px;
    border-radius: 15px;
    margin: 15px;
}

.producto img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}

.producto h3 {
    color: #f0a500;
}

.producto button,
.boton-producto {
    background-color: #f0a500;
    color: black;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
}

.ubicacion {
    background-color: #161616;
}

.ubicacion h2 {
    border-bottom: 3px solid #d4145a;
    display: inline-block;
}

.contenedor-ubicacion {
    display: flex;
    justify-content: center;
    gap: 40px;
    align-items: center;
    flex-wrap: wrap;
}

.horarios,
.direccion {
    text-align: left;
    width: 260px;
}

.horarios strong,
.direccion strong {
    color: #f0a500;
}

.mapa {
    width: 90%;
    max-width: 600px;
    margin: 30px auto;
}

.mapa iframe {
    width: 100%;
    height: 300px;
    border-radius: 15px;
}

#contacto {
    background-color: #111;
}

footer {
    background-color: black;
    text-align: center;
    padding: 20px;
}

/* PRODUCTOS */

.header-productos {
    position: relative;
    background: linear-gradient(to bottom, #810202fd, #be4107);
}

.header-productos .titulo-productos {
    text-align: center;
    padding: 70px 20px;
}

.header-productos .titulo-productos h1 {
    font-size: 45px;
    color: #f1ecdb;
    margin: 0 0 20px 0;
}

.header-productos .titulo-productos p {
    font-size: 18px;
    margin: 0;
}

.header-productos .inicio-banner {
    position: absolute;
    top: 35px;
    right: 50px;
    color: white;
    text-decoration: none;
    font-size: 26px;
    font-weight: bold;
}

.filtros {
    background-color: #191919;
    padding: 30px;
}

.filtros button {
    font-size: 20px;
    padding: 12px 22px;
    font-weight: bold;
    margin: 8px;
}

#comidas,
#despensa,
#bebidas {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 80px 20px;
}

#comidas {
    background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("fondo-comidas.jpg");
}

#despensa {
    background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("fondo-despensa.jpg");
}

#bebidas {
    background-image:
    linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)),
    url("fondo-bebidas.jpg");
}

/* MODAL */

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    inset: 0;
    background-color: rgba(0,0,0,0.85);
    justify-content: center;
    align-items: center;
}

.modal-contenido {
    background-color: #222;
    border: 2px solid #f0a500;
    padding: 30px;
    width: 90%;
    max-width: 500px;
    border-radius: 15px;
    text-align: center;
    color: white;
}

.modal-delivery {
    position: relative;
    background-color: #252530;
    color: white;
    width: 90%;
    max-width: 950px;
    min-height: 420px;
    border-radius: 20px;
    padding: 40px;
    display: flex;
    gap: 30px;
    align-items: center;
    border: 2px solid #f0a500;
}

.delivery-texto {
    width: 50%;
}

.delivery-texto h2 {
    font-size: 42px;
    color: #f0a500;
}

.delivery-imagen {
    width: 50%;
    text-align: center;
}

.delivery-imagen img {
    width: 100%;
    max-height: 350px;
    object-fit: contain;
}

.cerrar {
    position: absolute;
    top: 15px;
    right: 25px;
    font-size: 35px;
    cursor: pointer;
    color: #f0a500;
}

.modal-contenido button,
.modal-delivery button {
    background-color: #f0a500;
    color: black;
    border: none;
    padding: 13px 20px;
    border-radius: 25px;
    margin: 8px;
    font-weight: bold;
    cursor: pointer;
}

.datos-delivery {
    display: none;
    position: absolute;
    bottom: 25px;
    left: 40px;
    right: 40px;
    background-color: #1c1c24;
    padding: 20px;
    border-radius: 15px;
}

.datos-delivery input {
    width: 80%;
    padding: 12px;
    border-radius: 8px;
    border: none;
}

.btn-eliminar {
    background-color: #ff3b3b;
    color: white;
    border: none;
    border-radius: 50%;
    margin-left: 10px;
    width: 28px;
    height: 28px;
    cursor: pointer;
}

/* CELULAR */

@media (max-width: 768px) {

    body {
        font-size: 16px;
    }

    nav {
        padding: 18px 20px;
    }

    nav h2 {
        font-size: 18px;
    }

    nav a {
        font-size: 16px;
        margin-left: 8px;
    }

    .banner {
        background-size: cover;
    }

    .contenido-banner {
        min-height: 24vh;
        padding-bottom: 40px;
    }

    .boton {
        font-size: 22px;
        padding: 22px 60px;
    }

    section {
        padding: 45px 15px;
    }

    section h2 {
        font-size: 32px;
    }

    .header-productos nav h2 {
        font-size: 18px;
    }

    .header-productos .inicio-banner {
        font-size: 16px;
        top: 18px;
        right: 25px;
    }

    .header-productos .titulo-productos {
        padding: 65px 20px 45px;
    }

    .header-productos .titulo-productos h1 {
        font-size: 32px;
    }

    .header-productos .titulo-productos p {
        font-size: 15px;
    }

    .filtros {
        padding: 18px;
    }

    .filtros button {
        display: block;
        width: 210px;
        margin: 8px auto;
        font-size: 18px;
        padding: 10px 15px;
    }

    .producto {
        width: 230px;
        padding: 18px;
    }

    .producto h3 {
        font-size: 20px;
    }

    .producto p {
        font-size: 16px;
    }

    .producto button {
        font-size: 14px;
        padding: 10px 18px;
    }

    .modal-delivery {
        width: 85%;
        padding: 25px;
        flex-direction: column;
    }

    .delivery-texto,
    .delivery-imagen {
        width: 100%;
    }

    .delivery-texto h2 {
        font-size: 30px;
    }
}